ion-toolbar {
    --background: #ff5c2a;
    ion-label,ion-icon{
        color: #72605bd5;
    }
}

ion-segment-button {
    --background: rgb(245, 231, 231);
    --background-checked: linear-gradient(to left, rgba(243, 223, 223, 0.904), rgb(245, 226, 226))!important;
    --color-checked: #ff5c2a !important;
    --indicator-color: #ff5c2a !important;
    --indicator-color-checked: #ff5c2a !important;
}